<div class="container">
  <div class="row">
    <h4 class="products_header">New Arrival</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="product-box" (mouseenter)="onEnterProduct($event)" (mouseleave)="onLeaveProduct($event)">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-eye"></i></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0 "><i class="fa-sharp fa-solid fa-arrow-down"></i>29%</span>
          </div>
          <img class="img-fluid" src="../assets/images/chair3.webp" alt="">
          <div class="cart-btn">
            <button class="btn btn-while shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Card</button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Wooden chair</h3>
          </div>
          <div class="product-price">
            $<span>179</span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="product-box" (mouseenter)="onEnterProduct($event)" (mouseleave)="onLeaveProduct($event)">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-eye"></i></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0 "><i class="fa-sharp fa-solid fa-arrow-down"></i>29%</span>
          </div>
          <img class="img-fluid" src="../assets/images/chair3.webp" alt="">
          <div class="cart-btn">
            <button class="btn btn-while shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Card</button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Wooden chair</h3>
          </div>
          <div class="product-price">
            $<span>179</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-box" (mouseenter)="onEnterProduct($event)" (mouseleave)="onLeaveProduct($event)">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-eye"></i></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0 "><i class="fa-sharp fa-solid fa-arrow-down"></i>29%</span>
          </div>
          <img class="img-fluid" src="../assets/images/chair3.webp" alt="">
          <div class="cart-btn">
            <button class="btn btn-while shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Card</button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Wooden chair</h3>
          </div>
          <div class="product-price">
            $<span>179</span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="product-box" (mouseenter)="onEnterProduct($event)" (mouseleave)="onLeaveProduct($event)">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-eye"></i></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0 "><i class="fa-sharp fa-solid fa-arrow-down"></i>29%</span>
          </div>
          <img class="img-fluid" src="../assets/images/chair3.webp" alt="">
          <div class="cart-btn">
            <button class="btn btn-while shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Card</button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Wooden chair</h3>
          </div>
          <div class="product-price">
            $<span>179</span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="product-box" (mouseenter)="onEnterProduct($event)" (mouseleave)="onLeaveProduct($event)">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-eye"></i></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0 "><i class="fa-sharp fa-solid fa-arrow-down"></i>29%</span>
          </div>
          <img class="img-fluid" src="../assets/images/chair3.webp" alt="">
          <div class="cart-btn">
            <button class="btn btn-while shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Card</button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Wooden chair</h3>
          </div>
          <div class="product-price">
            $<span>179</span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="product-box" (mouseenter)="onEnterProduct($event)" (mouseleave)="onLeaveProduct($event)">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-decoration-none text-dark"> <i class="fas fa-eye"></i></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0 "><i class="fa-sharp fa-solid fa-arrow-down"></i>29%</span>
          </div>
          <img class="img-fluid" src="../assets/images/chair3.webp" alt="">
          <div class="cart-btn">
            <button class="btn btn-while shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Card</button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Wooden chair</h3>
          </div>
          <div class="product-price">
            $<span>179</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
