
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light  px-2">
      <a class="navbar-brand" href="#"><i><b>Andy Shop</b></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto m-auto mb-lg-0 ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shops
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Men</a></li>
            <li><a class="dropdown-item" href="#">Women</a></li>
            <li><a class="dropdown-item" href="#">Children</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Most wanted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Arrival</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"  >Brands</a>
        </li>
      </ul>
      <form class="d-flex align-items-center right-nav-box" style="margin-bottom: 0px">
        <div class="d-flex align-items-center nav-search-box">
          <i class="fa fa-search nav-search-icon"></i>
          <input class="form-control me-2 nav-search-input" type="search" placeholder="Search" aria-label="Search">
        </div>
        <i class="fa fa-shopping-cart"></i>
        <ul class="navbar-nav me-auto m-auto mb-lg-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="userInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userInfo">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">user Info</a></li>
            </ul></li>
        </ul>

      </form>
    </div>

    </nav>
  </div>
