<div class="container">
  <div class="small-container card-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      <tr>
        <td>
          <div class="cart-info">
            <img src="../assets/images/shoe-1.png" alt="">
            <div>
              <p>Product name</p>
              <small>Price $50.00</small>
              <br>
              <a href="#">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>50$</td>
      </tr>

      <tr>
        <td>
          <div class="cart-info">
            <img src="../assets/images/shoe-4.png" alt="">
            <div>
              <p>Product name</p>
              <small>Price $50.00</small>
              <br>
              <a href="#">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>50$</td>
      </tr>

      <tr>
        <td>
          <div class="cart-info">
            <img src="../assets/images/shoe-2.png" alt="">
            <div>
              <p>Product name</p>
              <small>Price $50.00</small>
              <br>
              <a href="#">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>50$</td>
      </tr>

      <tr>
        <td>
          <div class="cart-info">
            <img src="../assets/images/shoe-3.png" alt="">
            <div>
              <p>Product name</p>
              <small>Price $50.00</small>
              <br>
              <a href="#">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>50$</td>
      </tr>
    </table>
    <div class="total-price">
      <table>
        <tr>
          <td>Subtotal</td>
          <td>$200</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>$35</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>$235</td>
        </tr>
      </table>
    </div>
    <div class="check-out">
      <button type="button" class="btn btn-success">CheckOut</button>
    </div>
  </div>
</div>
