<div class="product">
  <div class="product-content">
    <ng-container [ngTemplateOutlet]="productImg" ></ng-container>
    <ng-container [ngTemplateOutlet]="buttons"></ng-container>
  </div>
  <ng-container [ngTemplateOutlet]="productInfo"></ng-container>
  <ng-container [ngTemplateOutlet]="offInfo"></ng-container>
  <ng-container *ngIf="product.stock===0" [ngTemplateOutlet]="stockLabel"></ng-container>

</div>

<!--product image-->
<ng-template #productImg>
  <div class="product-image">
    <img [src]="product.thumbnail" alt="shoes">
  </div>
</ng-template>
<!--product img end-->

<ng-template #buttons>
  <div class="product-btns">
    <button type="button>" class="btn-cart">Add To Cart <span> <i class="fas fa-plus"></i> </span></button>
    <button type="button>" class="btn-buy">Buy Now<span> <i class="fas fa-shopping-cart"></i> </span></button>
  </div>
</ng-template>

<ng-template #productInfo>
  <div class="product-info">
    <div class="product-info-top">
      <h2 class="sm-title">Life Style</h2>
      <ng-container [ngTemplateOutlet]="ratingTpl"></ng-container>
    </div>
    <a href="#" class="product-name">{{product.title}}</a>
    <p [hidden]="product.discountPercentage==0"  class="product-price">$ {{product.price}}</p>
    <p class="product-price">$ {{product|priceAfterSale}}</p>
  </div>
</ng-template>

<ng-template #ratingTpl>
  <div class="rating">
    <span *ngFor="let star of stars">
      <i  [ngClass]="{'fas': star<=product.rating,'far':star>product.rating}" class="fa-star"></i>
    </span>
  </div>
</ng-template>

<ng-template #offInfo>
  <div *ngIf="product.discountPercentage" class="off-info">
    <h2 class="sm-title"> {{product.discountPercentage}}% off</h2>
  </div>
</ng-template>

<ng-template #stockLabel>
  <div  class="stock-label">
    <h2 class="sm-title">Out of Stock</h2>
  </div>
</ng-template>



