@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  display:block;
}


.product-content{
  background-color: #ededed;
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product{
  position: relative;
  background-color:rgba(255, 255, 255, 0.5) ;
}

.off-info .sm-title {
  background: #40c9a2;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.product-image{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  width: 200px;
  height: 200px;
  margin:0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}

.product-btns{
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart,.btn-buy{
  padding: 0.8rem 0;
  width: 125px;
  background-color: white;
  border: none;
  color: black;
  transition: all 0.6s ease;
}
.btn-cart{
  background-color: black;
  color: white;
}

.btn-cart:hover{
  background-color:#40c9a2 ;
}

.btn-buy:hover{
  background-color:#40c9a2 ;
}

.product:hover .product-btns{
  opacity: 1;
}

.product:hover .product-image{
  background: #40c9a2;
}


.product-info{
  background-color:white;
  padding: 2rem;
}

.product-info-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span{
  color:#40c9a2;
}

.product-name{
  color:black;
  display:block;
  text-decoration: none;
  font-size: 1rem;
  text-transform:uppercase;
}
.product-price{
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display:inline-block;
}

.product-price:first-of-type{
  text-decoration: line-through;
  color:#40c9a2;
}
.product-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img{
  transition: transform 0.6s ease;
}

.product:hover .product-image img{
  transform: scale(1.1);
}







